@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{



.swiper-pagination-progressbar-fill {
    border: 2px solid rgba(175, 240, 122, 0.719);
    border-radius: 5px;
  }
  
  .swiper-pagination-progressbar {
    background-color: rgba(176, 30, 30, 0.3);
    border-radius: 5px;
  }  
}




@layer  base{
  body {
      @apply bg-black			
}

}